.navigationlist{
display: flex;
justify-content: space-between;
flex-direction: row;
align-items: center
}

.navigation_link_active{
padding: 20px 40px;
border-radius: 10%;
  background-color: rgba(0, 195, 255, 0.296);
}

.navLi{
  text-decoration: none;
  list-style: none;
  color: #000000;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.logoName{
  
  display: block;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}
