.blockButton_cover{
  height: 55px;
  background-color: #4bcfcc;
  position: sticky;
bottom: 0;
right: 0;
left: 0;
}

.scrollTo{
  position: fixed;
  bottom: 75px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:  #6bd3d1;
  color: white;
  cursor: pointer;
  padding: 2px 18px;
  border-radius:50%;
  
}

.scrollTo:hover{
  background-color: rgb(46, 172, 139); 
}

.scrollTo::after {
  content: "\2191";

  margin: 0;
  padding: 0;
  font-size: 40px;
  color: #fff; 
}


.blockButton_information{
width:auto;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;

}


.blockButton_document{
  display: flex;
}
.blockButton_document_fi{
  margin: 0;
  border: none;
  overflow: visible;
  font: inherit;
  color: inherit;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  font-size: .875rem;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  margin-left: 10px;
  width: 240px;
  height: 40px;
  color: #fff;
  cursor: pointer;
    border: 1px solid #e5e5e5;
}

.servis_information_svg{
  padding-right: 10px;
  padding-left: 4px;
  position: relative;
  top:6px;
}

.blockButton_document_fi:hover{
  color: #268e8c;
  border-color: #268e8c;
}

.blockButton_forse{
  display: flex;
  justify-content: space-between;
  widows: 70px;
  height: 55px;
}

.blockButton_forse_svg{
  cursor: pointer;
  padding-left: 8px;
  position: relative;
  top: 20px
}

.blockButton_forse_svg:hover{
fill:white
}
@media (max-width: 960px) {
  .blockButton_forse h4{
    display: none;
  }

}


@media (max-width: 600px) {
  .scrollTo{
 display: none;
     }
     .blockButton_forse h4{
      display: none;
    }
 .blockButton_document_fi_hiden{
       display: none;
     }
    }
    @media (max-width: 480px) {
 .blockButton_forse h4{
   display: none;
 }
 .blockButton_cover{
  height: 45px;
 
}
 .blockButton_document_fi{

  width: 160px;
  height: 30px;
  font-size: 9px;

}
        }

