.slider {
  padding: 0;
  margin: 0;
  position: relative;
  background: url("https://i.ibb.co/WppcJvL/91a467edaf9c597b494ba9822bf3008b-1595395944.jpg")
    no-repeat center center;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-bottom: 30px;
}

.slider:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.slider_part {
  padding: 0;
  margin: 0;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider_description {
  color: red;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.coverblock {
  width: 960px;
  margin: 0 auto;
  margin-top: 15px;
}

.title {
  color: #535258;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 600;
  text-transform: uppercase;
}

.slider_buttom {
  margin-bottom: 50px;
}
