.section_title {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.section_title_name {
  color: #535258;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif;
}

.section_title_button {
  padding: 0;
  margin: 0;
  line-height: 1px;
  text-align: center;
}
.section_block_svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 150px;
  color: #333;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}

.section_title_svg {
  padding-left: 7px;
  position: relative;
  top: 3px;
}

.section_comand_lis {
  margin: 0 auto;
  padding: 0;
  width: 960px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.comand_item {
  position: relative;
  margin: 0;
  padding: 0;
  width: 237px;
  height: auto;
  margin-bottom: 4px;

  overflow: hidden;
}

.transition_slider {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgba(34, 34, 34, 0.8);
  background-color: rgba(0, 0, 0, 0.3);
}
.transition_slider:hover {
  opacity: 1;
  transition: 0.8s;
}

.block_button {
  position: absolute;
  height: 120px;

  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
}

.item_name {
  padding-left: 6px;
  display: block;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;
}

.comand_item_position {
  padding-left: 6px;
  display: block;
  position: relative;
  font-size: 14px;
  margin-bottom: 20px;
  color: #fff;
}

.comand_item_more {
  display: block;
  border: 1px solid rgb(96, 102, 96);
  background-color: rgb(174, 174, 177);
  margin: 0;
  padding: 0;
  height: 25px;
  align-items: center;
  text-align: center;
  width: 150px;
  position: relative;
  color: #fff;
  color: #444;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  cursor: pointer;
  margin-left: 6px;
}

.comand_item_more:hover {
  color: white;
  border: 1px solid rgb(64, 170, 64);
  background-color: rgb(163, 202, 168);
}

.section_back_color {
  background-color: #f7f6f4;
}

@media (max-width: 960px) {
  .section_comand_lis {
    width: 680px;
  }
  .comand_item {
    width: 210px;
  }
}

@media (max-width: 580px) {
  .section_comand_lis {
    width: 440px;
  }
  .comand_item {
    width: 210px;
  }
}

@media (max-width: 360px) {
  .section_comand_lis {
    width: 240px;
  }
  .comand_item {
    width: 210px;
  }
}
