@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}






body {
  margin: 0;
  font-family: 'Arimo', sans-serif;
  background-color: #fff;
  color: #212121;
}

code {
  font-family: 'Arimo', sans-serif;
}

input,
textarea {
  font: inherit;
}

textarea {
  resize: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

label {
  cursor: pointer;
}